
@{
    ViewBag.Title = "NotFound";
}

<div class="d-flex flex-column align-content-center align-items-center">
    <h1 style=" font-size: 21em;">404</h1>
    <h2  style="font-size: 5em;" class="text-center">Not Found This Page</h2>
</div>


