@model IEnumerable<DataLayer.Models.PageComment>

@foreach (var item in Model)
{
    <li>
        <img src="~/Content/img/avatar.jpg">
        <div>
            <span> @item.Name </span>
            <span> @News.Tools.PersianDateConverter.ToShamsi(item.DateAddComment) </span>
        </div>
        <p>@item.CommentText</p>
    </li>
}